<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "../static/styles/style.css">
    <link rel="icon" href="../static/images/Swat Maps Logo/logo-transparent-tab-icon-png.png">
    <title>Lang Center for Social and Civic Responsibility</title>
</head>
<body>
    <div id="homepage">
        <!-- Nav Bar -->    
        <div id="navbar-container">
            <ul>
                <li><img src="static/images/Swat Maps Logo/logo-transparent-svg.svg"></li>
                <li><a href="index.html" id="MapsPage">Maps</a></li>
                <li><a href="input.html" id="InputPage">Input</a></li>
                <li><a href="about.html" id="AboutPage">About</a></li>

                <div class="dropdown">
                    <button class="dropbtn">Academic Buildings</button>
                    <div class="dropdown-content">
                      <a href="beardsley.html">Beardsley</a>
                      <a href="clothier.html">Clothier</a>
                      <a href="kohlberg.html">Kohlberg</a>
                      <a href="lang_center.html">Lang Center</a>
                      <a href="lang_music.html">Lang Music</a>
                      <a href="lpac.html">LPAC</a>
                      <a href="mccabe.html">McCabe</a>
                      <a href="old_tarble.html">Old Tarble</a>
                      <a href="parish.html">Parrish</a>
                      <a href="pearson.html">Pearson</a>
                      <a href="sci.html">Sci Center</a>
                      <a href="singer.html">Singer</a>
                      <a href="trotter.html">Trotter</a>
                      <a href="whittier.html">Whittier</a>
                    </div>
                </div> 
            </ul>
        </div>
        <div id="text_building">
            <b> <h2 class="larger">Lang Center</h2> </b>
        </div>
        <div class="floorplan-container">
            <p class="large"> Lower Level (LL) </p>
            <img src="/static/images/lang_center/lang center ll.png" alt="Lang Center lower level's floor plan" class="floorplan">
            <p class="large"> Floor 1 </p>
            <img src="/static/images/lang_center/lang center 1.png" alt="Lang Center first level's floor plan" class="floorplan">
            <p class="large"> Floor 2 </p>
            <img src="/static/images/lang_center/lang center 2.png" alt="Lang Center second level's floor plan" class="floorplan">
            <!-- Padding: -->
            <p></p>
        </div>
    </div>
</body>
</html>